{% load static %}

<nav>
    <ul>
        <img src="/static/images/chef.png" alt="chef">
        <li class="title"><a href="{% url "index" %}">Family CookBook</a></li>
        <li><a href="{% url "list recipes" %}">All Recipes</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "create recipe" %}">Add Recipe</a></li>
        {% else %}
        <li><a href="{% url "signin user" %}">Add Recipe</a></li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'current user profile' %}">Hello {{ user.username }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout user' %}">Sign Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin user' %}">Sing In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup user' %}">Sign Up</a>
                </li>
            {% endif %}

    </ul>
</nav>
