{% extends "shared/site.html" %}
{% block site_title %}Sign up{% endblock %}

{% block site_content %}
    <div class="container">

        <h1>Sign Up</h1>
        <div class="items-container">
            <div class="item">
                <form action="{% url 'signup user' %}" method="post">
                    {{ form }}
                    {% csrf_token %}
                    <button class="btn btn-success">Sign Up</button>
                    or <a href="{% url "signin user" %}">Sign In</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
