{% extends "shared/site.html" %}
{% load static %}
{% block site_content %}
    <h1>Edit Comment</h1>
    <div class="container">
        <div class="items-container">
            <div class="item">
                <form method="post" action="{% url 'edit comment' comment.pk %}">
                    <label for="{{ form.text.id_for_label }}">This is your comment:</label>
                    {{ form.text }}
                    {% csrf_token %}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}