{% extends "shared/site.html" %}
{% load static %}
{% block site_content %}
    <div class="container">

        <h1>Edit Recipe</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url "edit recipe" recipe.pk %}" enctype="multipart/form-data" >

                    <label for="{{ form.title.id_for_label }}">Title</label>
                    {{ form.title }}
                    {{ form.title.errors }}

                    <label for="{{ form.image.id_for_label }}">Image</label>
                    {{ form.image }}
                    {{ form.image.errors }}

                    <label for="{{ form.description.id_for_label }}">Description</label>
                    {{ form.description }}
                    {{ form.description.errors }}

                    <label for="{{ form.ingredients.id_for_label }}">Ingredients</label>
                    {{ form.ingredients }}
                    {{ form.ingredients.errors }}

                    <label for="{{ form.time.id_for_label }}">Time (Minutes)</label>
                    {{ form.time }}
                    {{ form.time.errors }}

                    {% csrf_token %}
                    <input type="submit" class="button edit" value="Edit">
                </form>
            </div>
        </div>

    </div>


{% endblock %}