{% extends "shared/site.html" %}
{% load static %}
{% block site_content %}
    <div class="container">
        <h1>All Recipes</h1>
        {% if not recipes %}
            <h2>There are no recipes.</h2>
        {% endif %}
        {% for recipe in recipes %}
            <div class="items-container">

                <div class="item">
                    <link rel="stylesheet" href="{% static 'css/style.css' %}">
                    <h2>{{ recipe.title }}</h2>
                    <h4 class = "text-center">a recipe by: <a href = "{% url "user profile" recipe.user.user_id %}"> <u> {{ recipe.user.user.username }}</u></a></h4>
                    <img class="detail-img" src="{{ recipe.image.url }}" alt="recipe-image">
                    <div class="recipe-info">
                        {{ recipe.description }}
                    </div>
                    <div class="buttons-container">
                        <a class="button detail" href="{% url "details recipe" recipe.id %}">Details</a>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}